

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0 2rem;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80px;
}

.header-link{
  text-decoration: none;
  color: inherit;
}

.header-link.active{
  color: cornflowerblue;
}

.main {
  padding: 1rem 2rem;
}

