

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80px;
}

.header__nav{
  text-decoration: none;
  color: inherit;
}

.header__nav--link{
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
}

.header__nav--link.active{
  color: cornflowerblue;
}

.main {
  padding: 1rem 2rem;
}


/* mode */
.header__mode {
  cursor: pointer;
}

